body{
	background-color: #dcc2c2;
}

div#page{
	background-color: #893333;
	width: 960px;
	margin: auto;
	padding: 32px;
}

div#socialMedia{
	background-color: #ccc;
	padding: 10px;
	height: 40px;
}

#socialMedia .socialButton{
	height: 40px;
	width: 40px;
	position: relative;
	float: right;
	margin-left: 10px;
}

#socialMedia .donate{
	width: 80px;
	height: 40px;
	position: relative;
	float: right;
}

div#banner{
	width: 100%;
	background-color: #600;
	height: 350px;
}

div#navBar{
	height: 50px;
}

#navBar div.navButton{
	width: 238px;
	height: 48px;
	position: relative;
	float: left;
	border: 1px solid black;
	background-color: #c26666;
	text-align: center;
	background-position-y: 30px;
	background-repeat: no-repeat;
}

#navBar .navButton span.navText{
	position: relative;
	top: 12px;
	color: white;
	font-weight: bold;
}

div#slideShow{
	margin-top: 32px;
	height: 330px;
}

#slideShow div#slideshowTabs{
	height: 30px;
	cursor: pointer;
}

#slideShow #slideshowTabs div.tab{
	position: relative;
	float: left;
	width: 238px;
	height: 28px;
	border: solid black 1px;
	text-align: center;
	background-color: #fff;
}

#slideShow #slideshowTabs .tab div.barContainer{
	height: 5px;
	width: 100%;
	margin: auto;
	position: relative;
	top: 4px;
	background-color: #666;
}

#slideShow #slideshowTabs .tab .barContainer div.loadingBar{
	height: 100%;
	width: 0px;
	background-color: #f00;
}

#slideShow div#slideshowBody{
	height: 300px;
	background-color: #98c;
}

#slideShow #slideshowBody div#itemPicture{
	position: relative;
	float: left;
	width: 593px;
	height: 300px;
}

#slideShow #slideshowBody div#itemPicture img{
	width: 100%;
	height: 100%;
}

#slideShow #slideshowBody div#itemDetails{
	margin-left: 593px;
	width: 327px;
	padding: 20px;
	height: 260px;
	background-color: #300;
	color: #FFFFFF;
}

#slideShow #slideshowBody div#itemDetails h2{
	text-align: center;
}

#slideShow a{
	color:white;
}

div#newsFeed{
	background-color: #FFF;
	padding: 30px;
	margin-top: 30px;
	padding-top: 5px;
}

#newsFeed h1{
	text-align: center;
}

#newsFeed div.newsItem{
	width: 850px;
	padding: 30px;
	background-color: #eee;
	margin-bottom: 15px;
	border: 1px solid black;
}

#newsFeed .newsItem .newsPhoto{
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
}

#newsFeed .newsItem .newsPhoto img{
	width: 100%;
	height: 100%;
}

#articles h1{
	text-align: center;
color: white;
font-size: 48px;
}

#articles #articleList .article{
	padding: 30px;
	background-color: #eee;
	margin-bottom: 15px;
	border: 1px solid black;
	height: 150px;
	width: 900px;
}

#articles #articleList .article .articlePhoto{
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
	margin-right: 30px;
}

#articles #articleList .article .articlePhoto img{
	width: 100%;
	height: 100%;
}

#newsFeed .newsItem .newsText{
	margin-left: 180px;
}

#showMore{
	width: 300px;
	background-color: #900;
	color: white;
	font-size: 26px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
}

#charactersPage{
	margin-top: 25px;
	height: 451px;
}

#charactersPage #characterList{
	position: relative;
	float: left;
	width: 367px;
	text-align: center;
}

#charactersPage #characterList .character{
	border: 1px solid black;
	padding: 10px;
	font-size: 20px;
	background-color: #8cf;
}

#charactersPage #characterList .character.selected{
	border-right: 0;
	background-color: #ccc;
}

#charactersPage #characterInfo{
	position: relative;
	float: right;
	width: 593px;
}

#charactersPage #characterInfo .info{
	padding: 20px;
	width: 552px;
	position: relative;
	float: right;
	background-color: #ccc;
	height: 408px;
	border: 1px black solid;
	border-left: 0;
}

#charactersPage #characterInfo .info p{
	width: 553px;	
}

#charactersPage #characterInfo .new{
	width: 0px;
	padding: 20px 0px;
	position: relative;
	float: left;
	height: 408px;
	border-right: 0;
}

#charactersPage #characterInfo img{
	width: 150px;
	height: 150px;
	float: right;
	position: absolute;
}

#charactersPage #characterInfo h2{
	float: right;
	font-size: 48px;
	width: 100%;
	text-align: center;
	margin-bottom: 65px;
}

img.photoView{
	width: 200px;
	height: 200px;
	margin: 17.5px;
	border: 1px black solid;
	background-color: #fff;
}

#photosList{
	background-color: #ccc;
	margin-top: 30px;
}

#photoInfo{
	position: fixed;
	background-color: #999;
	width: 0px;
	margin-left: 492px;
	top: 50px;
}

#photoInfo #largePhoto{
	margin: 36px;
	background-color: #fff;
}

#photoInfo #largePhoto img{
	width: 578px;
	padding: 25px;
}

#photoDescription p{
	margin: 30px;
	background-color: #ccc;
	padding: 20px;
}

.articlePage .article{
	background-color: white;
	margin-top: 15px;
	padding: 30px;
}

.articlePage .article .articleHeader .articlePhoto{
	position: relative;
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 20px;
}

.articlePage .article .articleHeader .articlePhoto img{
	width: 100%;
	height: 100%;
}

.articlePage .article .articleHeader h1{
	margin: 0;
	background-color: red;
	padding: 10px;
}

.articlePage .article .articleHeader h3{
	margin: 0;
	padding: 5px;
	background-color: #cc0000;
}

.articlePage .article .articleHeader p{
	margin: 0;
	background-color: #900;
	padding: 5px;
	font-style: italic;
}

.pageHeader{
	background-color: #ab2222;
	width: 90%;
	margin: 25px auto 25px auto;
	padding: 5px;
	color: white;
	text-align: center;
}

#aboutPage{
	background-color: #edd;
	padding: 20px;
	margin-top: 15px;
}

#aboutPage p{
	width: 100%;
}

#aboutPage .castMember{
	background-color: #bb2424;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 180px;
}

#aboutPage .castMember .memberPhoto{
	width: 180px;
	height: 180px;
	position: relative;
	float: left;
}

#aboutPage .castMember .memberPhoto img{
	width: 100%;
	height: 100%;
}

#aboutPage .castMember .memberBio{
	margin-left: 200px;
	background-color: #fdd;
	padding: 10px;
}


